@import "tailwindcss";

@import "@radix-ui/colors/mauve" layer(base);
@import "@radix-ui/colors/mauve-dark" layer(base);
@import "@radix-ui/colors/gray" layer(base);
@import "@radix-ui/colors/gray-dark" layer(base);
@import "@radix-ui/colors/gray-alpha" layer(base);
@import "@radix-ui/colors/gray-dark-alpha" layer(base);
@import "@radix-ui/colors/amber" layer(base);
@import "@radix-ui/colors/amber-dark" layer(base);
@import "@radix-ui/colors/grass" layer(base);
@import "@radix-ui/colors/grass-dark" layer(base);
@import "@radix-ui/colors/crimson" layer(base);
@import "@radix-ui/colors/crimson-dark" layer(base);
@import "@radix-ui/colors/red" layer(base);
@import "@radix-ui/colors/red-dark" layer(base);
@import "@radix-ui/colors/sky" layer(base);
@import "@radix-ui/colors/sky-dark" layer(base);
@import "@radix-ui/colors/violet" layer(base);
@import "@radix-ui/colors/violet-dark" layer(base);
@import "@radix-ui/colors/violet-alpha" layer(base);
@import "@radix-ui/colors/violet-dark-alpha" layer(base);
@import "@radix-ui/colors/plum" layer(base);
@import "@radix-ui/colors/plum-dark" layer(base);
@import "@radix-ui/colors/plum-alpha" layer(base);
@import "@radix-ui/colors/plum-dark-alpha" layer(base);
@import "@radix-ui/colors/pink" layer(base);
@import "@radix-ui/colors/pink-dark" layer(base);
@import "@radix-ui/colors/yellow" layer(base);
@import "@radix-ui/colors/yellow-dark" layer(base);
@import "@radix-ui/colors/blue" layer(base);
@import "@radix-ui/colors/blue-dark" layer(base);
@import "@radix-ui/colors/jade" layer(base);
@import "@radix-ui/colors/jade-dark" layer(base);
@import "@radix-ui/colors/orange" layer(base);
@import "@radix-ui/colors/orange-dark" layer(base);
@import "@radix-ui/colors/sky" layer(base);
@import "@radix-ui/colors/sky-dark" layer(base);
@import "@radix-ui/colors/iris" layer(base);
@import "@radix-ui/colors/iris-dark" layer(base);
@import "@radix-ui/colors/green" layer(base);
@import "@radix-ui/colors/green-dark" layer(base);

@theme {
  --primary-1: var(--violet-1);
  --primary-2: var(--violet-2);
  --primary-3: var(--violet-3);
  --primary-4: var(--violet-4);
  --primary-5: var(--violet-5);
  --primary-6: var(--violet-6);
  --primary-7: var(--violet-7);
  --primary-8: var(--violet-8);
  --primary-9: var(--violet-9);
  --primary-10: var(--violet-10);
  --primary-11: var(--violet-11);
  --primary-12: var(--violet-12);

  --primary-a1: var(--violet-a1);
  --primary-a2: var(--violet-a2);
  --primary-a3: var(--violet-a3);
  --primary-a4: var(--violet-a4);
  --primary-a5: var(--violet-a5);
  --primary-a6: var(--violet-a6);
  --primary-a7: var(--violet-a7);
  --primary-a8: var(--violet-a8);
  --primary-a9: var(--violet-a9);
  --primary-a10: var(--violet-a10);
  --primary-a11: var(--violet-a11);
  --primary-a12: var(--violet-a12);

  --neutral-1: var(--gray-1);
  --neutral-2: var(--gray-2);
  --neutral-3: var(--gray-3);
  --neutral-4: var(--gray-4);
  --neutral-5: var(--gray-5);
  --neutral-6: var(--gray-6);
  --neutral-7: var(--gray-7);
  --neutral-8: var(--gray-8);
  --neutral-9: var(--gray-9);
  --neutral-10: var(--gray-10);
  --neutral-11: var(--gray-11);
  --neutral-12: var(--gray-12);
}

@theme {
  --breakpoint-md: 48rem;

  --spacing-max-content: 67.5rem;
  --spacing-max-content-tight: 56rem;

  --font-sans:
    var(--font-inter), Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-accent:
    var(--font-geist-sans), Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --font-mono: var(--font-geist-mono);

  --background-color-app: var(--neutral-1);
  --background-color-subtle: var(--neutral-2);
  --background-color-ui: var(--neutral-3);
  --background-color-hover: var(--neutral-4);
  --background-color-active: var(--neutral-5);
  --background-color-solid: var(--neutral-9);
  --background-color-solid-hover: var(--neutral-10);
  --background-color-solid-active: var(--neutral-11);
  --background-color-primary-app: var(--primary-1);
  --background-color-primary-subtle: var(--primary-2);
  --background-color-primary-ui: var(--primary-3);
  --background-color-primary-hover: var(--primary-4);
  --background-color-primary-active: var(--primary-5);
  --background-color-primary-solid: var(--primary-9);
  --background-color-primary-solid-hover: var(--primary-10);
  --background-color-primary-solid-active: var(--primary-11);

  --background-color-amber-app: var(--amber-1);
  --background-color-red-app: var(--red-1);
  --background-color-green-app: var(--green-1);
  --background-color-crimson-app: var(--crimson-1);
  --background-color-sky-app: var(--sky-1);

  --text-color-default: var(--neutral-12);
  --text-color-low: var(--neutral-11);
  --text-color-hover: var(--neutral-10);
  --text-color-subtle: var(--neutral-9);

  --text-color-amber: var(--amber-12);
  --text-color-amber-low: var(--amber-11);
  --text-color-amber-icon: var(--amber-10);

  --text-color-red: var(--red-12);
  --text-color-red-low: var(--red-11);
  --text-color-red-icon: var(--red-10);

  --text-color-green: var(--green-12);
  --text-color-green-low: var(--green-11);
  --text-color-green-icon: var(--green-10);

  --text-color-crimson: var(--crimson-12);
  --text-color-crimson-low: var(--crimson-11);
  --text-color-crimson-icon: var(--crimson-10);

  --text-color-pink-low: var(--pink-11);

  --text-color-yellow-low: var(--yellow-11);

  --text-color-blue-low: var(--blue-11);

  --text-color-jade-low: var(--jade-11);

  --text-color-sky-low: var(--sky-11);

  --ring-color-ring: var(--mauve-5);

  --border-color-default: var(--neutral-6);
  --border-color-base: var(--neutral-6);
  --border-color-hover: var(--neutral-8);
  --border-color-active: var(--neutral-9);
  --border-color-primary-default: var(--violet-6);
  --border-color-primary-hover: var(--violet-8);
  --border-color-primary-active: var(--violet-9);

  --gradient-hero-text:
    180deg, var(--text-color-default) 0%, var(--plum-11) 100%;
  --gradient-hero-text-lg:
    96deg, var(--text-color-default) 72%, var(--plum-10) 105%;
  --gradient-playwright-text:
    120deg, var(--text-color-default) 0%, var(--violet-11) 70%,
    var(--plum-10) 80%;
  --gradient-playwright-text-dark:
    120deg, white 0%, var(--violet-11) 70%, var(--plum-10) 80%;

  --opacity-disabled: 0.38;

  --animate-fade: fade 4s ease infinite;
  --animate-slide: slide 10s linear infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-float: float 4s ease-in-out infinite;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes float {
    0% {
      filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
      transform: translate3d(0, 0, 0);
    }
    50% {
      filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
      transform: translate3d(-1rem, -0.5rem, 0) scale(0.9);
    }
    100% {
      filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-color-default);
  }

  html,
  body {
    @apply bg-app text-default h-full font-sans antialiased scheme-only-light;
  }

  html.dark body {
    @apply scheme-only-dark;
  }

  #content {
    contain: paint;
  }

  .prose.prose.prose {
    --tw-prose-pre-bg: #0d1116;
  }

  .prose.prose pre {
    @apply border;
  }

  /* Hide number input arrows */

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  html.dark .shiki,
  html.dark .shiki span {
    background-color: #0d1116 !important;
  }
}

@utility burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  padding: 8px 8px;
  appearance: none;
  background: transparent;
  border: 0;
  transition: 300ms;
  transition-property: opacity;

  & > span {
    width: 16px;
    height: 1px;
    background-color: var(--text-color-default);
    transition: 300ms;
    transition-property: all;
    position: relative;

    &:nth-child(2) {
      opacity: 1;
    }
  }

  &[aria-expanded="true"] {
    & > span:nth-child(1) {
      transform: translateY(5.5px) rotate(45deg);
    }

    & > span:nth-child(2) {
      opacity: 0;
      transform: translateX(10px);
    }

    & > span:nth-child(3) {
      transform: translateY(-5.5px) rotate(-45deg);
    }
  }

  @media (width >= theme(--breakpoint-md)) {
    display: none;
  }
}

@layer components {
  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
